SUPABASE_URL=your_supabase_url
SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key
ACTIVATION_FUNCTION_URL=your_activation_function_url
ACTIVATION_PUBLISHABLE_KEY=your_activation_publishable_key
ACTIVATION_LEASE_PUBLIC_KEY_B64=your_activation_lease_public_key_base64
